PORT=3000
JWT_SECRET=tu_clave_secreta_aqui
SERVICIO_MASCOTAS_URL=http://servicio-mascotas:3001
SERVICIO_SOLICITUDES_URL=http://servicio-solicitudes:3002

MYSQL_HOST=db-mascotas
MYSQL_USER=root
MYSQL_PASSWORD=tu_password_mysql
MYSQL_DATABASE=mascotas_db

POSTGRES_HOST=db-solicitudes
POSTGRES_USER=postgres
POSTGRES_PASSWORD=tu_password_postgres
POSTGRES_DB=solicitudes_db